# Tugas Besar Visualisasi Data IF-43-GAB01
Anggota Kelompok:
- Alifia Shafira (1301194102)
- Serly Setyani (1301190225)

In [ ]:
# Import Library
import pandas as pd
import numpy as np
from bokeh.io import curdoc
from bokeh.plotting import figure
from bokeh.models import HoverTool, ColumnDataSource
from bokeh.models import CategoricalColorMapper
from bokeh.palettes import Spectral6
from bokeh.layouts import widgetbox, row, gridplot
from bokeh.models import Slider, Select

In [ ]:
data_death = pd.read_csv("https://github.com/serlysetyani/tubes-visdat/blob/main/no_of_deaths_by_country_clean.csv?raw=true")
data_death.head()

,Country,Year,Count,Count_median,Count_min,Count_max,WHO Region
0,Afghanistan,2018,500[200–610],500.0,200.0,610.0,Eastern Mediterranean
1,Albania,2018,na,NaN,NaN,NaN,Europe
2,Algeria,2018,200[200–200],200.0,200.0,200.0,Africa
3,Angola,2018,14000[9500–18000],14000.0,9500.0,18000.0,Africa
4,Argentina,2018,1700[1300–2100],1700.0,1300.0,2100.0,Americas

In [ ]:
data_death.rename(columns = {'WHO Region':'Region'}, inplace = True)

In [ ]:
data_death.head()

,Country,Year,Count,Count_median,Count_min,Count_max,Region
0,Afghanistan,2018,500[200–610],500.0,200.0,610.0,Eastern Mediterranean
1,Albania,2018,na,NaN,NaN,NaN,Europe
2,Algeria,2018,200[200–200],200.0,200.0,200.0,Africa
3,Angola,2018,14000[9500–18000],14000.0,9500.0,18000.0,Africa
4,Argentina,2018,1700[1300–2100],1700.0,1300.0,2100.0,Americas

In [ ]:
data_byregion = data_death.Country.unique().tolist()
color_mapper = CategoricalColorMapper(factors=data_byregion, palette=Spectral6)

In [ ]:
source = ColumnDataSource(data={
    'x'       : data_death.Region,
    'y'       : data_death.Year,
    'min'     : data_death.loc[yr].Count_min,
    'max'     : data_death.loc[yr].Count_max,
})

In [ ]:
plot = figure(title='1970', x_axis_label='Region', y_axis_label='Years',
           plot_height=400, plot_width=700, tools=[HoverTool(tooltips='@region')])

In [ ]:
plot.circle(x='x', y='y', source=source, fill_alpha=0.8,
           color=dict(field='region', transform=color_mapper), legend='region')

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead

GlyphRenderer(id='1074', ...)

In [ ]:
plot.legend.location = 'bottom_left'

In [ ]:
# Define the callback function: update_plot
def update_plot(attr, old, new):
    # set the `yr` name to `slider.value` and `source.data = new_data`
    yr = slider.value
    x = x_select.value
    y = y_select.value
    # Label axes of plot
    plot.xaxis.axis_label = x
    plot.yaxis.axis_label = y
    # new data
    new_data = {
    'x'       : data_death.loc[yr][x],
    'y'       : data_death.loc[yr][y],
    'min'     : data_death.loc[yr].Count_min,
    'max'     : data_death.loc[yr].Count_max,
    }
    source.data = new_data
    
    # Add title to figure: plot.title.text
    plot.title.text = 'Gapminder data for %d' % yr

In [ ]:
# Make a slider object: slider
slider = Slider(start=1970, end=2010, step=1, value=1970, title='Year')
slider.on_change('value',update_plot)

In [ ]:
# Make dropdown menu for x and y axis
# Create a dropdown Select widget for the x data: x_select
x_select = Select(
    options=['Africa', 'America', 'Eastern Mediterranean', 'Europe', 'South-East Asia', 'Western Pacific'],
    value='Africa',
    title='x-axis data'
)
# Attach the update_plot callback to the 'value' property of x_select
x_select.on_change('value', update_plot)

# Create a dropdown Select widget for the y data: y_select
y_select = Select(
    options=['2000', '2010', '2018'],
    value='2000',
    title='y-axis data'
)
# Attach the update_plot callback to the 'value' property of y_select
y_select.on_change('value', update_plot)
    
# Create layout and add to current document
layout = row(widgetbox(slider, x_select, y_select), plot)
curdoc().add_root(layout)

BokehDeprecationWarning: 'WidgetBox' is deprecated and will be removed in Bokeh 3.0, use 'bokeh.models.Column' instead